<div>
  <div [ngSwitch]="account !== null">
    <div class="alert alert-success" *ngSwitchCase="true">
      <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }">Vous êtes connecté en tant que "{{ account.login }}".</span>
    </div>
    <div *ngSwitchCase="false" style="max-width: 2000px;">
      <!-- Utilisation du carousel de Bootstrap -->
      <ngb-carousel *ngIf="images.length > 0" [showNavigationArrows]="true" [interval]="4000" class="carousel-with-margin">
        <ng-template ngbSlide *ngFor="let image of images; let i = index">
          <img [src]="image" style="width: 1340px; height: 605px" alt="Image {{ i + 1 }}">
        </ng-template>
      </ngb-carousel>
    </div>
  </div>

  <!-- Ajoutez de l'espace entre le carousel et la liste de produits -->
  <div class="product-list-container">
    <app-liste-produits> test test </app-liste-produits>
  </div>
</div>
