<!-- Utilisation du carousel de Bootstrap (5/5) en haut de la page -->
<ngb-carousel *ngIf="images.length > 0" [showNavigationArrows]="true" [interval]="4000" class="carousel-with-margin">
  <ng-template ngbSlide *ngFor="let image of images; let i = index">
    <img [src]="image" style="width: 100%" alt="Image {{ i + 1 }}">
  </ng-template>
</ngb-carousel>

<div class="container">
  <div class="row">
    <!-- Colonne de gauche (2/5 de la page) -->
    <div class="col-md-2">
      <!-- Section vide -->
      <div class="empty-section">


       </div>
    </div>

    <!-- Colonne de droite (3/5 de la page) -->
    <div class="col-md-10">
      <div [ngSwitch]="account !== null">
        <div class="alert alert-success" *ngSwitchCase="true">
          <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }">Vous êtes connecté en tant que "{{ account.login }}".</span>
        </div>
        <div *ngSwitchCase="false" style="max-width: 2000px;">
          <!-- Ajoutez de l'espace entre la liste de produits et la section de carrousel -->
          <div class="product-list-container">
            <app-liste-produits> test test </app-liste-produits>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
